<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">My Orders</div>
        <table class="table">
          <thead>
            <th>Order no.</th>
            <th>Payment</th>
            <th>Status</th>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to "#{order.id}", my_order_path(order) %></td>
                <td>S$<%= order.order_value %></td>
                <td><%= order.status %></td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      </div>
      <%= link_to "Home", root_path %>
    </div>
  </div>
</div>