<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1> Cart </h1>

      <ul>
        <% @cartlist.each do |list| %>
          <% @product = Product.find(list.product_id) %>
          <li><%= @product.name %></li>
        <% end %>
      </ul>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
