<p>Sample</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>
  <%= @Greeting %> find me in app/views/order_mailer/sample.html.erb
</p>