@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/**/*";

img.product_image_index {
  height: 150px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.product {
  text-align: center;
  list-style: none;
}
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
  background-image: url("wallpaper.jpg");
  background-size:cover;
}

#form {
  height: 100%;
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}

form {
  margin: 0 auto;
  width: 500px;
  padding-top: 20px;
  color: black;
  position: relative;
}

input,
label,
textarea {
  display: block;
}

input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

input[type="submit"] {
  background-color: #F90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.29em;
  font-family: 'Sniglet', cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #e58f0e;
}

label {
  font-size: 1.5em;
  margin-top: 5px;
  padding-left: 20px;
}

.shop-card {
  width: 350px;
  background: #f5f5f5;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  list-style-type: none;
  z-index: 2;
  margin-top: 2em;
  margin-right: 2em;

  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none!important;

    & img {
      margin: -95px 0 -60px;
      width: 100%;
    }
  }
}

.header-left {
  position: relative;
  color: white;
  float: left;
}

.header-right {
  float: right;
}
