<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= render partial: "product" %>
      <div class="btn btn-block"><%= link_to "Back", :back %></div>
    </div>
  </div>
</div>